.collab {
    text-align: center;
}

.collab_bg {
    background-color: var(--primary-color-second);
    border-radius: 50px;
    width: 75%;
    margin: 0 auto;
}

.collab__data{
    margin-bottom: 200px;
    margin-left: -200px;
}

.collab__grid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}   

.collab_title {
    font-size: var(--font-size-h2);
    margin-bottom: var(--mb-0-75);
}

.collab_description {
    margin-bottom: var(--mb-1-5);
}

.collab_title,
.collab_description {
    color: #FFF;
}

.collab__image {
    /* width: 232px; */
    /* height: 25%; */
    justify-self: center;
    /* margin-top: -200px; */
}

.button--white {
    background-color: #ffffff;
    color: var(--color-primary);
}

.button--white:hover {
    background-color: #FFF;
}

.image{
    align-items: center;
}

.image img{
    width: auto;
    height: 500px;
}