.about__image {
    width: 380px;
    border-radius: 1.5rem;
    justify-self: center;
    align-self: center;
}

.about__container{
    display: flex;
}

.about__description {
    /* text-align: center; */
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-2-5);
    margin-top: 2rem;
}

.about__info-title {
    font-size: var(--font-size-h2);
    font-weight: var(--semi-bold-font);
    color: var(--primary-color);
}

.about__info-name {
    font-size: var(--font-size-smaller);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: start;
    margin-top: 2rem;
    height: 80px;

}

